/* === Imports et variables === */
@import url("https://use.typekit.net/bqd8hqg.css");

:root {
  --colorRed: rgb(146, 36, 36);
  --colorBeige: #dec8ae;
  --colorBlack: #000;
  --colorBrown: #5b3f3f;
  --colorWhite: #fafafa;

  font-family: Questa, serif;
  font-size: 15px;
}

/* === General styles === */
/* -- Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Questa, serif;
}

/* -- Body */
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--colorBeige);
  color: var(--colorRed);
  display: grid;
  grid-template-rows: 7vh auto 7vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  display: flex;
}

/* -- Main */
main {
  grid-area: main;
  width: 80%;
  margin: 0 auto;
}

/* -- Links */
a {
  text-decoration: none;
  color: inherit; /* Take the color set on the parent element */
}

/* -- Button */
button {
  background-color: var(--colorRed);
  color: var(--colorWhite);
  padding: 0.5rem 1.75rem;
  border: none;
  border-radius: 0.25rem;
}

/* -- Form Inputs and elements */
input {
  border: none;
  border-bottom: 0.15rem solid var(--colorRed);
  background-color: inherit;
}

input::placeholder {
  color: var(--colorBrown);
  opacity: 0.8;
}

/* -- Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colorRed);
}

h1 {
  font-style: italic;
}

/* -- Home Nav and buttons */
.homeNav {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.homeNav li {
  width: 100%;
}

.homeNav .button {
  display: grid;
  place-content: center;
  width: 100%;
  border: 3px solid var(--colorRed);
  height: 5rem;
  border-radius: 0.5rem;
}

.homeNav .button:hover {
  background: var(--colorRed);
  color: var(--colorBeige);
}

/* -- Tables */
table {
  width: 100%;
}

tr {
  background: var(--colorBeige);
  color: var(--colorRed);
  border: 1px solid var(--colorRed);
}

tbody > tr:nth-of-type(even) {
  background: rgba(146, 36, 36, 0.25);
  color: var(--colorRed);
}

td,
th {
  text-align: left;
  padding: 0.5rem 0.25rem;
}

/* -- Phone table display */
@media screen and (max-width: 600px) {
  td,
  th {
    font-size: 0.75rem;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    content: attr(data-cellTitle);
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: 700;
  }
}

/*===Header===*/

header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--colorBeige);
  background-color: var(--colorRed);
  grid-area: header;
}

header svg {
  fill: #dec8ae;
}

header div a svg {
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav,
#cross {
  display: none;
}

/* ===Header menu burger opened=== */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opened {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--colorRed);
  color: var(--colorBeige);
  position: absolute;
  top: 7vh;
  right: 0;
  animation-name: fadein;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
.opened li {
  list-style-type: none;
  margin-right: 5px;
  height: 50px;
}

.opened li a {
  color: var(--colorBeige);
}

/* ===Header Responsive==*/

@media screen and (min-width: 600px) {
  header nav {
    display: flex;
  }

  #burgerButton {
    display: none;
  }

  header nav li {
    list-style-type: none;
    margin-right: 5px;
  }

  header nav li a {
    color: var(--colorBeige);
  }
}

/* ===Footer=== */
footer {
  min-height: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--colorBeige);
  background-color: var(--colorRed);
  grid-area: footer;
}

footer a {
  color: var(--colorBeige);
  margin-left: 5px;
}


/* === Form for mobile === */

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

/* === Form for tablets ===*/
@media screen and (min-width:600px) and (max-width:899px) {
  form{
    max-width:500px;
    margin:0 auto;
  }
  
}

/* === Form for tablets and little desktop */

@media screen and (min-width:900px) and (max-width:1199px) {
  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  form h3 {
    grid-column: 1/4;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    grid-row: 2;
  }
}

/* === Form for desktop */

@media screen and (min-width:1200px) {
  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  form h3 {
    grid-column: 1/5;
  }
  
  .buttons {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    
  }
}